*.g00
*.lst
*.gmy
*.pkl
*.lyx~
*.sublime-workspace
*.pyc
*.dat

*.gdx
!Model/Gdx/sets.gdx
!Model/Gdx/ARIMA_forecasts.gdx
!Model/Gdx/previous_static_calibration.gdx
!Model/Gdx/previous_deep_calibration.gdx
!Model/Gdx/calibration_2022.gdx
!Data/*.gdx
!Data/*/*.gdx
!Konjunktur/Gdx/previous_konjunktur
