*.g00
*.lst
*.gmy
*.pkl
*.lyx~
*.sublime-workspace
*.pyc
*.dat
*gdx

!Model/Gdx/stiliseret_grundforloeb.gdx
!Model/Gdx/stiliseret_grundforloeb_nominal.gdx
!Data/*.gdx

!Model/Savepoints/model.g00
!Model/Savepoints/model.pkl