# Data
*.gdx filter=lfs -diff merge=lfs -text
*.g00 filter=lfs -diff merge=lfs -text
*.feather filter=lfs -diff merge=lfs -text
*.mdb filter=lfs -diff merge=lfs -text
*.pkl filter=lfs -diff merge=lfs -text
*.gtb filter=lfs -diff merge=lfs -text
*.zip filter=lfs -diff merge=lfs -text

# Images
*.png filter=lfs -diff merge=lfs -text
*.jpg filter=lfs -diff merge=lfs -text
*.svg filter=lfs -diff merge=lfs -text

*.pdf filter=lfs -diff merge=lfs -text

# MS Office
*.xls filter=lfs -diff merge=lfs -text
*.xlsx filter=lfs -diff merge=lfs -text
*.ppt filter=lfs -diff merge=lfs -text
*.pptx filter=lfs -diff merge=lfs -text
*.doc filter=lfs -diff merge=lfs -text
*.docx filter=lfs -diff merge=lfs -text

# Executables
*.exe filter=lfs -diff merge=lfs -text
*.dll filter=lfs -diff merge=lfs -text
*.pyc filter=lfs -diff merge=lfs -text
