*.g00
*.lst
*.gmy
*.pkl
*.lyx~
*.sublime-workspace
*.pyc
*.dat

*.gdx
!Model/Gdx/aldersprofiler.gdx
!Model/Gdx/ARIMA_forecasts.gdx
!Model/Gdx/previous_static_calibration.gdx
!Model/Gdx/previous_deep_calibration.gdx
!Model/Gdx/previous_smooth_calibration.gdx
!Data/*.gdx
!Data/*/*.gdx