<!DOCTYPE html>
<html>
<title>Calibration report</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<link rel="stylesheet" href="..\..\Analysis\Templates\w3.css">

<style type="text/css">
<!-- Gekko added these styles to help table layout -->
  td.w {}
  td.c {text-align: center;}
  td.ws {white-space:nowrap;}
  td.blue {background-color: rgb(174,199,225);}
  td.pad {padding:0.1em 0.50em;}
  td.top {border-top: 1px solid black;}
  td.bottom {border-bottom: 1px solid black;}
  td.left {border-left: 1px solid black;}
  td.right {border-right: 1px solid black;}
  td.rightlg {border-right: 1px solid lightgray;}
  .gfsize {font-size: 72%;}
  .gfont { font-family: Arial }
  a { color: #0645AD; text-decoration: none; }
  a:hover { text-decoration: underline; }

	.center {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    width: 50%;
	}
</style>


<body>

<header class="w3-container w3-padding-32 w3-center" id="header">
	<image class="w3-image center" style="width:5cm; margin-left:auto; margin-left:auto;" src="..\..\Analysis\Templates\Logo.png">
	<h1>Calibration report</h1>
</header>

<div class="w3-container" id="TOC">
	<h2>Table of contents</h2>
	<nav>
	  <ul>
			<li><strong><a href="#production">Production</a></strong></li>
				<ul>
					<li><a href="#production_aggregates">Production aggregates</a></li>
					<li><a href="#intermediate_goods">Intermediate goods</a></li>
					<li><a href="#machine_investments">Machine investments</a></li>
					<li><a href="#building_investments">Building investments</a></li>
					<li><a href="#inventory_investments">Inventory investments</a></li>
				</ul>
			<li><strong><a href="#consumption">Consumption</a></strong></li>
			<li><strong><a href="#government">Government</a></strong></li>
			<li><strong><a href="#foreign-sector">Foreign sector</a></strong></li>
		</ul>
	</nav>
</div>



<div class="w3-container" id="Production">
	<h2>Production</h2>
	<div class="w3-container" id="production_aggregates">
		<h3>Production aggregates</h3>
		<img class=w3-image src="Images\sL.svg">
		<img class=w3-image src="Images\sK.svg">
		<img class=w3-image src="Images\sKL.svg">
		<img class=w3-image src="Images\sR.svg">
	</div>

	<br>

	<div class="w3-container" id="intermediate_goods">
		<h3>Intermediate goods</h3>
			<img class=w3-image src="Images\sR_ym[lan].svg">
			<img class=w3-image src="Images\sR_ym[byg].svg">
			<img class=w3-image src="Images\sR_ym[ene].svg">
			<img class=w3-image src="Images\sR_ym[udv].svg">
			<img class=w3-image src="Images\sR_ym[bol].svg">
			<img class=w3-image src="Images\sR_ym[fre].svg">
			<img class=w3-image src="Images\sR_ym[soe].svg">
			<img class=w3-image src="Images\sR_ym[tje].svg">
			<img class=w3-image src="Images\sR_ym[off].svg">
			<img class=w3-image src="Images\sR_y[lan].svg">
			<img class=w3-image src="Images\sR_y[byg].svg">
			<img class=w3-image src="Images\sR_y[ene].svg">
			<img class=w3-image src="Images\sR_y[udv].svg">
			<img class=w3-image src="Images\sR_y[bol].svg">
			<img class=w3-image src="Images\sR_y[fre].svg">
			<img class=w3-image src="Images\sR_y[soe].svg">
			<img class=w3-image src="Images\sR_y[tje].svg">
			<img class=w3-image src="Images\sR_y[off].svg">
			<img class=w3-image src="Images\sR_m[lan].svg">
			<img class=w3-image src="Images\sR_m[byg].svg">
			<img class=w3-image src="Images\sR_m[ene].svg">
			<img class=w3-image src="Images\sR_m[udv].svg">
			<img class=w3-image src="Images\sR_m[bol].svg">
			<img class=w3-image src="Images\sR_m[fre].svg">
			<img class=w3-image src="Images\sR_m[soe].svg">
			<img class=w3-image src="Images\sR_m[tje].svg">
			<img class=w3-image src="Images\sR_m[off].svg">
	</div>

	<br>

	<div class="w3-container" id="machine_investments">
		<h3>Machine investments</h3>
		<img class=w3-image src="Images\sI_ym[iM].svg">
		<img class=w3-image src="Images\sI_y[iM].svg">
		<img class=w3-image src="Images\sI_m[iM].svg">
	</div>

	<br>

	<div class="w3-container" id="building_investments">
		<h3>Building investments</h3>
		<img class=w3-image src="Images\sI_ym[iB].svg">
		<img class=w3-image src="Images\sI_y[iB].svg">
		<img class=w3-image src="Images\sI_m[iB].svg">
	</div>

	<br>

	<div class="w3-container" id="inventory_investments">
		<h3>Inventory goods</h3>
		<img class=w3-image src="Images\sI_ym[iL].svg">
		<img class=w3-image src="Images\sI_y[iL].svg">
		<img class=w3-image src="Images\sI_m[iL].svg">
	</div>
</div>

<br>

<div class="w3-container" id=consumption>
	<h2>Consumption</h2>
		<img class=w3-image src="Images\sC.svg">

		<img class=w3-image src="Images\sC_ym[cBil].svg">
		<img class=w3-image src="Images\sC_ym[cEne].svg">
		<img class=w3-image src="Images\sC_ym[cVar].svg">
		<img class=w3-image src="Images\sC_ym[cBol].svg">
		<img class=w3-image src="Images\sC_ym[cTje].svg">
		<img class=w3-image src="Images\sC_ym[cTur].svg">
		<img class=w3-image src="Images\sC_y[cBil].svg">
		<img class=w3-image src="Images\sC_y[cEne].svg">
		<img class=w3-image src="Images\sC_y[cVar].svg">
		<img class=w3-image src="Images\sC_y[cBol].svg">
		<img class=w3-image src="Images\sC_y[cTje].svg">
		<img class=w3-image src="Images\sC_y[cTur].svg">
		<img class=w3-image src="Images\sC_m[cBil].svg">
		<img class=w3-image src="Images\sC_m[cEne].svg">
		<img class=w3-image src="Images\sC_m[cVar].svg">
		<img class=w3-image src="Images\sC_m[cBol].svg">
		<img class=w3-image src="Images\sC_m[cTje].svg">
		<img class=w3-image src="Images\sC_m[cTur].svg">
</div>

<br>

<div class="w3-container" id=government>
	<h2>Government</h2>
	<img class=w3-image src="Images\sG.svg">

	<img class=w3-image src="Images\sG_ym[g].svg">
	<img class=w3-image src="Images\sG_y[g].svg">
	<img class=w3-image src="Images\sG_m[g].svg">
</div>

<br>

<div class="w3-container" id=exports>
	<h2>Foreign Sector</h2>
		<img class=w3-image src="Images\sX.svg">

		<img class=w3-image src="Images\sX_ym[xEne].svg">
		<img class=w3-image src="Images\sX_ym[xVar].svg">
		<img class=w3-image src="Images\sX_ym[xSoe].svg">
		<img class=w3-image src="Images\sX_ym[xTje].svg">
		<img class=w3-image src="Images\sX_ym[xTur].svg">
		<img class=w3-image src="Images\sX_y[xEne].svg">
		<img class=w3-image src="Images\sX_y[xVar].svg">
		<img class=w3-image src="Images\sX_y[xSoe].svg">
		<img class=w3-image src="Images\sX_y[xTje].svg">
		<img class=w3-image src="Images\sX_y[xTur].svg">
		<img class=w3-image src="Images\sX_m[xEne].svg">
		<img class=w3-image src="Images\sX_m[xVar].svg">
		<img class=w3-image src="Images\sX_m[xSoe].svg">
		<img class=w3-image src="Images\sX_m[xTje].svg">
		<img class=w3-image src="Images\sX_m[xTur].svg">
</div>

<br>

</body>
</html>

